.ExcersiseTypes {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ExcersiseTypes li {
  margin: 0;
  padding: 12px;
  border-bottom: 2px solid blue;
}

.ExcersiseTypes li:hover,
.ExcersiseTypes li:active {
  background-color: lightblue;
  border-bottom: 2px solid rgb(120, 120, 255);
}
