@import "../../../variables.scss";

.ExcersiseTypes {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin: 0;
    padding: 12px;
    border-bottom: 2px solid $primary-color;

    &:hover,
    &:active {
      background-color: $primary-color-hover;
    }
  }
}
